@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background: #333;
  color: #fff;
}

/* Utilities */
.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
}

button:focus {
  outline: none;
}

.card {
  position: relative;
  background: #fff;
  color: #333;
  padding: 40px 50px;
  border-radius: 15px;
}

.card.reverse {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

button,
.btn {
  cursor: pointer;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.btn-primary {
  color: #fff;
  background: #333;
}

.btn-secondary {
  color: #fff;
  background: rebeccapurple;
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  cursor: auto;
  background: #aaa;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rebeccapurple;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

/* Feedback Form */
.feedback-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
}

.input-group input {
  flex: 2;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.input-group input:focus {
  outline: none;
}

/* Rating Select */
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 40px 0 20px;
}

.rating li {
  position: relative;
}

.rating input {
  opacity: 0;
}

.rating input:checked ~ label,
.rating input:checked ~ label:hover {
  opacity: 1;
  background: #333;
  color: #fff;
}

.rating label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #f4f4f4;
  text-align: center;
  transition: all 0.3s ease;
}

.rating label:hover {
  opacity: 0.6;
  background: #333;
  color: #fff;
}

/* Feedback Stats */
.feedback-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 25px;
}

/* Feedback List */
.feedback-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.rating-display {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 50px;
  height: 50px;
  background: #555;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-item {
  position: absolute;
  top: 10px;
  right: 10px;
}

.edit-item {
  position: absolute;
  top: 10px;
  right: 30px;
}

/* About Link */
.about-link {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background: rebeccapurple;
  opacity: 0.8;
}
